/* FileUpload.module.css */

/* Light Mode Styles for Modal */
.modal-light .modal-content {
    background-color: #f0f0f0; /* White background color */
    color: #212529; /* Dark text color for readability */
  }
  
  .modal-light .modal-header,
  .modal-light .modal-footer {
    border-color: #dee2e6; /* Light border color */
  }
  
  
  /* Styling for the file input */
  .file-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f0f0f0; /* Light background for input */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .file-input:focus {
    color: #495057;
    background-color: #ffffff; /* White background on focus */
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  